body {
    font-family: Arial, sans-serif;
    background: #f2f2f2 ;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    justify-items: center;
}

.container h1 {
    border: 1px solid #000;
    background: #333;
    color: #fff;
    width: 100%;
    text-align: center;
}

img {
    width: 90px;
    transition: all 0.3s ease;
    height: 50px;
}

img:hover{
    transform: scale(1.3);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid gray;
    padding: 8px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

th {
    background: #333;
    color: #fff;
}

.btn-add, .btn-delete, .btn-update {
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-add:hover {
    background-color: #54E31B;
    border-color: #54E31B;
    color: #fff;
}

.btn-update:hover{
    background-color: #006AFF;
    border-color: #006AFF;
    color: #fff;
}

.btn-delete:hover{
    background-color: #FF0000;
    border-color: #FF0000;
    color: #fff;
}

.btn-add a:hover{
    width: max-content;
    color: #fff;
}

a {
    text-decoration: none;
    color: #000;
}

.table-end {
    background: #333;
    width: 100%;
    padding-top: 10px;
}
